<div class="">
  <h1 class="text-center">
    <input
      type="text"
      id="searchArticle"
      name="searchArticle"
      class="searchArticle"
      (keyup)="searchArticle($event)"
    />
  </h1>
  <div class="d-flex flex-wrap justify-content-center">
    @for( item of articlesAll$; track item.id ) {
    <app-article
      [article]="item"
      [actualId]="articleChange$ | async"
      [idArticle]="idArticle"
      (articleEvent)="objectChild($event)"
    ></app-article>
    }
  </div>
</div>
