<header class="">
  <nav class="navbar">
    <h2 class="logo" href="">Inicio</h2>
    <div [ngClass]="{ show: !isMenuOpen, nav_links: isMenuOpen }">
      <ul class="nav-list">
        <li><a routerLink="article/list" routerLinkActive="active">Artículos</a></li>
        <li><a routerLink="/newArticleTemplate" routerLinkActive="active">Nuevo artículo template</a></li>
        <li><a routerLink="article/create" routerLinkActive="active">Nuevo artículo reactive</a></li>
        <li><a routerLink="" routerLinkActive="active">Login</a></li>
        <li><a routerLink="register" routerLinkActive="active">Register</a></li>
      </ul>
    </div>
    <button
      mat-icon-button
      class="burger-menu"
      aria-label="Example icon-button with menu icon"
      (click)="toggleMenu()"
    >
      <mat-icon>{{ isMenuOpen ? "menu" : "close" }}</mat-icon>
    </button>
  </nav>
</header>
