<div
  class="card mx-5"
  style="width: 18rem"
  [ngClass]="{ countZero: _isCountZero }"
>
  <div class="card-body">
    <h5 class="card-title">{{ article.name }}</h5>
    <a [routerLink]="['/article', article.id]">
      <img
        src="{{ article.imageUrl }}"
        alt="{{ article.name }}"
        style="width: 100%"
      />
    </a>
    <p>{{ article.price | number : "1.2" | currency : "EUR" }}</p>
    <div class="d-flex justify-content-between">
      @if(article.isOnSale){
      <a
        href="#"
        class="btn btn-primary"
        (click)="emitArticleEvent(article.id, 'sum')"
        >+</a
      >
      {{ article.quantityInCart }}
      <a
        href="#"
        class="btn btn-danger"
        [ngClass]="{ countZeroButton: _isCountZero }"
        (click)="emitArticleEvent(article.id, 'res')"
        >-</a
      >
      }
    </div>
  </div>
</div>
