.form-box-reactive {
  background-color: #1f1f24;
  width: 400px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0px 0px 10px 0px #666;
}

h2 {
  text-align: center;
  color: white;
  padding-top: 1rem;
}

.div-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.div-control {
  width: 100%;
  padding: 10px;
}

.div-control .input-key {
  width: 100%;
  outline: none;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  margin: 4px;
  height: 35px;
  background-color: #454257;
  color: white;
}

button {
  border: none;
  border-radius: 7px;
  cursor: pointer;
  width: 100%;
  height: 37px;
  font-size: 15px;
  background-color: #2D92DA;
  color: #FFFFFF;
}

.div-control.div-control-checkbox {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}


.div-control.div-control-checkbox .isOnSale {
  color: #FFFFFF;
}

.checkboxIsOnSale {
  width: 20px;
  border: none;
}

.error-msg {
  color: red;
}
